{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-image: url('image.jpg');
  background-size: 1100px;
  ;

}
.container {
  
  max-width: 800px;
  margin: 100px auto;
  padding: 10px ;
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 100px ;
  grid-auto-rows: 30px;
}
.item{
  background: cadetblue;
  color: black;
  border: 1px solid cadetblue;
 
  padding: 20px ;
  height: 100%;
}
.item ul li{
  text-align: center;
  list-style-type: none;

}
.main ul li {
  display: inline-block;
}
h2{
 font-family: fantasy;
  color: white;
  font-size: 30px ;
  text-align: center;
}
.item{
  text-align: center;
  font-size: 30px ;
  background: cadetblue;
  color: black;
  border: 1px solid seagreen;
   padding: 20px ;
  height: 100%;
}

h2{
  background-color: cadetblue;
  padding: 10px 10px ;
  margin:100px auto;
  text-align: center ;
}
h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px 10px;
  text-align: center ;

}
p{
  font-family: fantasy;
  color: black;
  text-align: left;
  padding: 14px ;
  
}
p > a{
  text-align: center;
}
